header {
  background-color: black;
  width: 100%;
}
.header {
  padding: 10px 50px;
  height: 80px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  & nav ul {
    display: flex;
    gap: 20px;
  }
  & nav ul li {
    margin: 20px;
    font-size: 22px;
  }
}
